h1{
    text-align: center;
    padding-bottom: 30px;
    color: red;
    padding-top: 15px;;
    
}
.input-box{
    padding-bottom: 22px;
}
#result{
    width: 500px;

    margin-left: 520px;
    
}
#history{
    margin-top: 26px;
    width: 500px;
    margin-left: 520px
}
#guess-num{
    width: 500px;
   
}
#check{
    border-radius: 5px;
    background-color: white;
    color: black;
     }
#reset{
    border-radius: 5px;
    background-color: white;
    color: black;
    }
  
    